body, html {
    height: 85%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#image1 {
    width: 320px;
    height: auto;
    margin-bottom: 1px;
}

#searchbar {
    font-size: large;
    border: 1px white solid;
    width: 400px;
    height: 30px;
    margin-top: 4px;
    align-self: flex-start;
    margin-left: -45px;
    outline: none;
}

#buttons {
    display: flex;
    justify-content: center;
}

#ara {
    font-size: 90%;
    background-color: #f8f9fa;
    border: 1px white solid;
    border-radius: 5px;
    width: 130px;
    height: 35px;
    margin: 8px;
    margin-top: 10px;
}

#ifeellucky {
    font-size: 90%;
    background-color: #f8f9fa;
    border: 1px white solid;
    border-radius: 5px;
    width: 225px;
    height: 35px;
    margin-top: 10px;
}

#bottomLine {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 100px solid rgb(241, 241, 241); /* Adjust thickness and color as needed */
}